<!-- <h2>User Registration</h2>

<form (ngSubmit)="sendMessage()">
  <div>
    <label for="senderId">Sender Id:</label>
    <input type="text" id="senderId" [(ngModel)]="senderId" name="senderId" required>
  </div>

  <div>
    <label for="receiverId">Receiver Id:</label>
    <input type="text" id="receiverId" [(ngModel)]="receiverId" name="receiverId" required>
  </div>

  <div>
    <label for="content">Content:</label>
    <input type="text" id="content" [(ngModel)]="content" name="content" required>
  </div>

  <div>
    <label for="timestamp">TimeStamp:</label>
    <input type="datetime" id="timestamp" [(ngModel)]="timestamp" name="timestamp" required>
  </div>

  <div>
    <button type="submit" (click)="sendMessage()">Send</button>
    <h5>login</h5>
 </div>
</form> -->

<div class="container">
  <h3 class=" text-center">Chat App</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="channel_heading">
            <h4>Messages</h4>
          </div>
        </div>
        <div class="inbox_chat">
          <!-- <div class="channels" *ngFor="let channel of channelList"> -->
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_ib">
                  
                  <div *ngFor="let item of userDt" (click)="enableBtn(item.id)">
                    {{ item.userName }}
                   
                  <div>                  
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">

          <li class="message" *ngFor="let message of msgdata" onclick="deleteMessage(message.id)">
            {{ message }}
            <div>
              <button hidden (onclick)="deleteMessage(id)">Delete</button>
              <button hidden (onclick)="editMessage(id)">Edit</button>
            </div>
          </li>
        
        </div>
        <div class="type_msg">
          <form class="input_msg_write" (ngSubmit)="sendMessage()">
            <input
              type="text"
              class="write_msg"
              placeholder="Type a message"
              name="newMessage"
              [(ngModel)]="newMessage"
            />
            <button class="msg_send_btn" type="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
