<h2>User Registration</h2>

<form [formGroup]="registerUser" (ngSubmit)="onRegister()">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" >
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" >
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" >
  </div>

  <!-- <div>
    <label for="senderId">Sender Id:</label>
    <input type="text" id="senderId" [(ngModel)]="senderId" name="senderId" required>
  </div> -->

    <button type="submit">Register</button>
</form>